
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center; line-height: 20px;">
    <div style="display:inline-block; vertical-align:text-top;">
        <table id="tablenoedit">
            <caption>
                <h2>Employees</h2>
            </caption>
            <tr id="title">
                <th>№</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Middle name</th>
                <th>e-mail</th>
            </tr>
            @{
                foreach (var item in ViewBag.Employees)
                {
                    <tr id="@item.Id">
                        <td id="№">@item.Id</td>
                        <td id="Name">@item.Name</td>
                        <td id="Surname">@item.Surname</td>
                        <td id="Middle name">@item.Middle_name</td>
                        <td id="e-mail">@item.email</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
